:root {
  --neon-blue: #03e9f4;
  --bg: #050801;
}

* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg);
}

a {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: var(--neon-blue);
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0003)
}

a:hover {
  background: var(--neon-blue);
  color: var(--bg);
  box-shadow: 0 0 5px var(--neon-blue), 0 0 25px var(--neon-blue), 0 0 50px var(--neon-blue), 0 0 200px var(--neon-blue);
  transition-delay: .4s;
}

a:nth-child(1) {
  filter: hue-rotate(290deg)
}


a:nth-child(3) {
  filter: hue-rotate(110deg)
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--neon-blue));
}

a:hover span:nth-child(1) {
  left: 100%;
  transition: .5s;
}


a span:nth-child(2) {
  top: -100%;
  right: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, transparent, var(--neon-blue));  
}

a:hover span:nth-child(2) {
  top: 100%;
  transition: .5s;
  transition-delay: .1s;
}


a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  height: 2px;
  width: 100%;
  background: linear-gradient(270deg, transparent, var(--neon-blue));
}

a:hover span:nth-child(3) {
  right: 100%;
  transition: .5s;
  transition-delay: .2s;
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(360deg, transparent, var(--neon-blue));
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: .5s;
  transition-delay: .3s;
}